/* GLOBAL */
body {
    font-family: 'Cardo', Georgia, serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

.cardo {
    font-family: 'Cardo', Georgia, serif;
}

.archivo {
    font-family: 'Archivo Black', sans-serif;
}

.tenor {
    font-family: 'Tenor Sans', sans-serif;
}

/* HERO */
.hero {
    text-shadow: 2px 2px #000;
}

.hero-heading {
    letter-spacing: 0.1em;
}

.hero-heading,
.hero-subhead {
    font-size: 64px;
}

.hero-content {
    max-width: 750px;
}